.review-text p:nth-child(2) {
    font-weight: 600;
}

.cases {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.case .city {
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-secondary);
}

.case {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 10px;

    width: calc((100% - (2 * 20px)) / 2);
    min-width: 350px;
}

.testimonials-slider {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;

    margin: 50px;
}

.testimonials-slider .card {
    width: calc((100% - (2 * 20px)) / 3);

    max-width: 350px;
    min-width: 250px;

    height: 350px;
}

.feedback-text {
    overflow: scroll;
}

.feedback-client-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-client-name {
    font-weight: 500;
    padding-bottom: 10px;
}

.stars {
    display: flex;
    justify-content: center;
}

.star {
    width: 20px;
}

.thank-you-scans {
    margin-top: 20px;
}

.client-photo {
    max-width: 300px;
    max-height: 200px;
}

.scan {
    width: 130px;
    height: 180px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: var(--transition);
}

.scan:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}