.hero-section {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.0)), url('../../images/hero/bg.jpg') no-repeat;
    background-size: cover;
    padding: 40px;
    text-align: center;
    color: var(--color-secondary);
    position: relative;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    z-index: 1;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.3;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: 500;
}

.subtitle > strong {
    font-weight: 800;
}

.text-bg {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 40px 40px 40px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.copy {
    border-radius: 10px 10px 0 0;

    background: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
}
.copy p:first-child {
    font-weight: 400;
}

.timer {
    font-size: 2rem;
    font-weight: 700;
    margin: 30px 0;
    color: var(--color-primary);
}

.cta-button {
    background: var(--color-primary);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    transition: var(--transition);
    margin: 20px 0;
    display: inline-block;
}

.cta-button:hover {
    background: #c0392b;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(231, 76, 60, 0.5);
}

.license {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 0.9rem;
}

.license-icon {
    height: 20px;
}