/* Reset & Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button,
input,
select,
textarea {
    font: inherit;
    outline: none;
}

button {
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}