.form-container {
    max-width: 500px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-xs);
}

.form-label {
    display: flex;
    justify-content: flex-start;

    width: 100px;
    font-size: 1.1rem;
    color: var(--color-dark);
}

.form-submit {
    margin-top: var(--space-m);
}