.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-s);
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-s);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}